.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 2rem 3rem;
    box-shadow: 4px 4px 20px 0 var(--gray-alpha-200);
    background-color: var(--silver-white);
    position: sticky;
    position: -webkit-sticky;
    /* Safari support */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

@media (prefers-color-scheme: dark) {
    .nav {
        background-color: var(--dark-gray);
    }
}
.logo {
    height: 70px;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 0.4rem;
    z-index: 1100;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.hamburgerBar {
    width: 25px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hamburger.open .hamburgerBar:first-child {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.open .hamburgerBar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .hamburgerBar:last-child {
    transform: translateY(-11px) rotate(-45deg);
}

.navList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.navItem {
    text-align: center;
    position: relative;
    display: block;
}

.navLink {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    color: inherit;
}

.navLink:hover {
    color: var(--green);
}

.activeLink {
    color: var(--green);
    font-weight: bold;
    font-size: 19.5px;
}

@media (max-width: 600px) {
    .nav {
        padding: 1rem 2rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 1px 0.1px 10px 0 var(--gray-alpha-200);
    }
    
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .navList {
        display: none;
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        background-color: var(--silver-white);
        z-index: 999;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        box-shadow: 4px 4px 20px 0 var(--gray-alpha-200);
    }
    
    @media (prefers-color-scheme: dark) {
        .navList {
            background-color: var(--dark-gray);
        }
    }
    .logo {
        height: 30px;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .hamburgerBar {
        background-color: var(--green);
    }

    .navListOpen {
        display: flex;
        opacity: 0;
        animation: fadeIn 0.3s ease-in-out forwards;
    }

    .navItem {
        border-bottom: 1px solid var(--gray-alpha-200);
        width: 100%;
        box-shadow: inset 4px 4px 20px 0 #00000009;
    }

    .navLink {
        padding: 1rem 0;
        width: 100%;
    }

    .firstNavItem {
        border-top: 1px solid var(--gray-alpha-200);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .activeLink {
        font-size: 15.5px;
    }
}