.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 1rem 3rem;
    box-shadow: 4px 4px 20px 0 var(--gray-alpha-200);
    background-color: var(--silver-white);
    position: sticky;
    position: -webkit-sticky;
    /* Safari support */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.pageTitleContainer {
    width: 33.3%;
    text-align: center;
}

.pageTitle {
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    .nav {
        background-color: var(--dark-gray);
    }
}
.logo {
    height: 70px;
}

.logoContainer {
    width: 33.3%;
}

.navLink {
    width: 33.3%;
    text-align: right;
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    color: inherit;
}

.navLink:hover {
    color: var(--green);
}

.activeLink {
    color: var(--green);
    font-weight: bold;
    font-size: 19.5px;
}

@media (max-width: 600px) {
    .nav {
        padding: 1rem 2rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: 1px 0.1px 10px 0 var(--gray-alpha-200);
    }
    
    .navbarContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    @media (prefers-color-scheme: dark) {
        .navList {
            background-color: var(--dark-gray);
        }
    }
    .logo {
        height: 30px;
    }

    .navLink {
        padding: 1rem 0;
        width: 100%;
    }

    .activeLink {
        font-size: 15.5px;
    }
}