@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --silver-white: #FAF8FE;
  --dark-green: #007972;
  --green: #00A39B;
  --light-green: #89CCC8;
  --light-blue: #D9EDFF;
  --text: #4D4D4D;
  --background: white;
  --foreground: #4D4D4D;
  --dark-gray: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--green);
  font-weight: bold;
  font-size: 48px;
    line-height: 52px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: var(--green);
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: var(--green);
  font-size: 22px;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  font-size: 20px;
}

a {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  font-size: 20px;
}

button {
  font-family: "Poppins", sans-serif;
  color: var(--silver-white);
  background-color: var(--green);
  padding: 20px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--dark-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;
  }
  p {
    color: var(--silver-white);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* mobile */
@media only screen and (max-width: 600px){
  h1, h2 {
    font-size: 32px;
    line-height: 43px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }

  button {
    font-size: 20px;
    width: 300px;
    height: 60px;
    padding: 15px;
  }
}